{{template "header.html" .}}





<div class="blogitem">

	<div class="cat">
		<h2>分类 - {{$.curCateTitle}}</h2>
	</div>
	<div>
		{{range .posts}}
		<article>
			<h2 class="title"><a href="{{$.postUrl}}/{{.UrlTitle}}">{{.Title}}</a></h2>

			<ul class="text">
				<i class="fa fa-bookmark-o"></i>
				{{if .Tags}}
				{{blogTags $ .Tags}}
				{{else}}
				无
				{{end}}
				|
				<i class="fa fa-calendar"></i> 更新 {{.UpdatedTime | datetime}} |
				<i class="fa fa-calendar"></i> 创建 {{.CreatedTime | datetime}}
			</ul>


			{{if $.post.IsMarkdown }}
			<ul class="text markdown-content">{{.Abstract | raw}}
				<a class="btn btn-danger" href="{{$.postUrl}}/{{.UrlTitle}}" title="查看全文">查看全文</a>
			</ul>
			{{else}}
			<ul class="text">{{.Abstract | raw}}
				<a class="btn btn-danger" href="{{$.postUrl}}/{{.UrlTitle}}" title="查看全文">查看全文</a>
			</ul>
			{{end}}



		</article>
		{{else}}
		<div style="margin-left: 40px;margin-right: 40px;">

		</div>
		{{end}}

		{{template "paging.html" $}}
	</div>




	{{template "footer.html" $}}
	{{template "highlight.html" $}}
</div>





</body>
</html>