{{template "header.html" .}}




<div class="blogitem">
	<div>
		<article>
			<h2 class="title">{{.single.Title}}</h2>

			<ul class="text">
				<i class="fa fa-bookmark-o"></i>
				{{if .post.Tags}}
				{{blogTags $ .post.Tags}}
				{{else}}
				无
				{{end}}
				|
				<i class="fa fa-calendar"></i> 更新 {{$.post.UpdatedTime | datetime}}
				|
				<i class="fa fa-calendar"></i> 创建 {{$.post.CreatedTime | datetime}}
			</ul>


			{{if $.post.IsMarkdown }}
			<ul class="text markdown-content">{{$.single.Content | raw}}</ul>
			{{else}}
			<ul class="text">{{$.single.Content | raw}}</ul>
			{{end}}

		</article>
	</div>

	<div id="blogNav">
		<div id="blogNavNav">
			<i class="fa fa-align-justify" title="文档导航"></i>
			<span>文档导航</span>
		</div>
		<div id="blogNavContent">
		</div>
	</div>


	{{template "footer.html" $}}
	{{template "highlight.html" $}}


</div>



<!-- 一些公用的js -->
<script src="{{$.leanoteUrl}}/public/blog/js/common.js"></script>
<script>
$(function() {
	initNav();
});
</script>

</body>
</html>